# p4cherry build and executables
_build
p4cherry
p4cherry-test
*.opam
doc/_sphinx
doc/spectec

# p4cherry-test logs
log
error

# spectec
watsup
spec-gen.include
*.aux
*.log
!p4/status/*.log
*.tex
!spec/spec.tex
*.pdf

# calculus
!calculus/*.tex
