# ocaml build artifacts
_build
*.opam

# p4spectec build and executables
p4spectec

# p4spectec testgen artifacts
gen
seed

# p4spectec testgen scripts
scripts/__pycache__

# logs and debugs
log
debug

# MacOS
*.DS_Store
